/app/
/source/bin/
/source/obj/
/source/native/bin/
/tests/**/bin/
/tests/**/obj/
/integration-*/
/preview-state/
/preview*.png
/test-report*.txt
/*.zip
/integration-*.error.txt

tests/
.history/
artifacts/
